---
apiVersion: v1
kind: Template
metadata:
  name: widgets
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: widgets
  spec:
    envName: ${ENV_NAME}
    testing:
      iqePlugin: ingress
    dependencies: []
    deployments:
    - name: service
      minReplicas: 1
      webServices:
        public:
          enabled: true
          apiPath: widgets
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 35
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 120
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 35
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 120
        env:
        - name: INGRESS_PAYLOADTRACKERURL
          value: ${INGRESS_PAYLOADTRACKERURL}
        - name: INGRESS_STAGEBUCKET
          value: ${INGRESS_STAGEBUCKET}
        - name: INGRESS_LOG_LEVEL
          value: ${LOG_LEVEL}
        - name: INGRESS_VALIDTOPICS
          value: ${INGRESS_VALIDTOPICS}
        - name: INGRESS_MAXSIZEMAP
          value: ${INGRESS_MAXSIZEMAP}
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: ${CPU_REQUESTS}
            memory: ${MEMORY_REQUESTS}
        volumes:
        - emptyDir: {}
          name: tmpdir
        volumeMounts:
        - mountPath: /tmp
          name: tmpdir
    - name: dispatcher-consumer
      minReplicas: 1 
      web: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - server 
        - listener
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: CLOWDER_ENABLED
            value: "true"
    kafkaTopics:
    - topicName: repos.created
      partitions: 3
      replicas: 3
parameters:
- name: ENV_NAME
  required: true
- name: IMAGE
  value: quay.io/jlsherri/widget-app
- name: IMAGE_TAG
  required: true

